div.intro {
  /* height needed otherwise height of container for h2 and h3 includes h3, as if was displayed statically */
  height: 4em;
}

h3.intro {
  display: none;
  opacity: 0;
}

.About___booper {
  cursor: pointer;
  background: #f6efe7;
}
.About___pigNose {
  font-size: 1.5em;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.About___booper:hover {
  transform: translate(0, -2px); 
}
.About___booper:active {
  transform: translate(0, 2px); 
}

.About___moreInfoContainer {
  padding: 1.5em;
  /* border: 5px solid white; */
  border-radius: 5px;
}
.About___moreInfoContainer > * {
  margin: .8em;
}
.About__img {
  border: 15px solid white;
  border-radius: 50%;
}
.About__a {
  font-style: italic;
  text-decoration: none;
  color: inherit;
}
.About__a:hover {
  font-weight: 600;
}

@media screen and (min-width: 425px) {
  .About__img {
    width: 75%; 
    margin-left: calc(25% / 2)
  }
}

@media screen and (min-width: 768px) {
  .About__img {
    width: 50%;
    margin-left: 25%;
  }

  h3.intro {
    display: inline;
    font-size: 1.75em;
    position: relative;
    top: -1.8em; right: -8.5em;
  }
}