.Button {
  color: #4c4c4c;
}

.Button.text {
  font-family: 'Corben', serif;
  font-size: 1.2em;
  margin: .25em 0;
  padding: .3em 1em .4em;
  border: 1.5pt solid #4c4c4c; 
  border-radius: 3px;
  border-radius: 50px;
  background: inherit;
}

.Button__link {
  /* Allows links to behave spacially as buttons */
  display: inline-block;
  text-decoration: none;
}

.Button:hover {
  cursor: pointer;
  color: #787878;
}
.Button.text:hover {
  background-color: inherit;
  border: 3.5pt solid #787878;
  margin: calc(2pt - .25em) calc(1em - .25em);
}

.Button.text:active {
  color: #242424;
  border: 3.5pt solid #242424;

}
.Button:active {
  color: #242424;
}

@media screen and (min-width: 425px) {
  .Button.text {
    margin: .5em;
  }
}