.Main {
  max-width: 800px;
  margin: 9em 0;
}

.Main > section {
  /* Allows the anchor to the sections to display
  correctly accounting for the nav bar */
  margin: -9em 1em 4em; 
  padding: 9em 0 0;
}

.Main > section > h2 {
  margin: 0 0 .2em;
}

@media screen and (min-width: 768px) {
  .Main > section {
    /* Allows the anchor to the sections to display
    correctly accounting for the nav bar */
    margin-top: -8em; 
    padding-top: 8em;
  }
}

@media screen and (min-width: 900px) {
  .Main {
    margin: 7em auto auto calc((100vw - 800px)/2);
  }

  .Main > section {
    /* Allows the anchor to the sections to display
    correctly accounting for the nav bar */
    margin-top: -1em; 
    padding-top: 1em;
  }
}