/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6efe7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BFBAB4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #403E3C;
}