/*************************************
  ANIMATION "INSTRUCTIONS"
**************************************/
body {  
  animation: fadeInPersist 2s;
}

/*************************************
  ANIMATION "FUNCTIONS"
**************************************/
/* For most of the body */
@keyframes fadeInPersist {
  0% {
    opacity: 0;
    overflow: hidden;
  }
  45% {
    opacity: 0;
    overflow: hidden;
  }
  100% {
    opacity: 1;
    overflow: hidden;
  }
}