body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: #f6efe7;
  color: #242424;
  margin: 1em;
}

::selection {
  background: #82817f;
  color: white;
}

p {
  text-align: justify;
  margin-bottom: 8px;
}

h1, h2, nav > *, .secondaryFont {
  /* font-family: 'Vesper Libre', serif; */
  font-family: 'Corben', serif;
}

h2 {
  font-size: 2em;
}

img {
  border-radius: 10px;
}

/* Site-wide formatting */
.bold {
  font-weight: 600;
}

.notBold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.hidden {
  display: none;
  opacity: 0;
}

.underlineOnHover:hover {
  text-decoration: underline;
}

.displayGreyscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.displayGreyscale:hover {
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3em;
  }
}